

.vegg {
    width: 50px;
    height: 50px;
    /*background-image: url('vegg4.png');*/
    background-color: rgb(194, 43, 250);
    display: inline-block;
    /*border: solid 1px blue;*/
}
.peng {
    width: 25px;
    height: 25px;
   /* background-image: url('peng.png');*/
   background-color: yellow;
    display: inline-block;
    border-radius: 50%;
    margin: 12.5px;
}



.ground {
    width: 50px;
    height: 50px;
    /*background-image: url('bg.png'); */
    background-color: black;
    display: inline-block;
    
}

/*
.ghost {
    width: 50px;
    height: 50px;
    background-image: url('ghost1.png');
    display: inline-block;
}

*/

.pacman {
    width: 50px;
    height: 50px;
    background-image: url('ii.jpeg');
    display: inline-block;
    background-repeat: no-repeat;
    
}
div {
    line-height: 0px;
}

#verden {
    background-color: black;
    width: 650px;
    
}