main {
    display: grid;
    grid-template-columns: 1265px 400px 400px; 
    grid-column-gap: 10px;
    grid-gap: 30px; 
    grid-auto-rows: mimax (60px,auto); 


}
article {
    background-color: rgb(175, 121, 121);

}


