:root {
    --fyll:10px;
}



header {
    color:#C6006F;
    font-size: 1.2em;
    padding: var(--fyll);
    padding-bottom: 20px;
}

article {
    font-size: 1.1em;
    padding: var(--fyll);
    

    
}

#liste {
    width: 82vw;
    height:1vh;
    border: 3px solid white;
    background-color: #C6006F;
    padding: 5em;
    display: flex;
    color: white;
    
}

.kunde {
  background-color: whitesmoke;
}

#dyr {
    width: 82vw;
    height: 1vh;
    background-color: #C6006F;
    border: 3px solid white;
    padding: 5em;
    display:flex;
    color: white;
}



  
        
         
    

