@import url(https://fonts.googleapis.com/css?family=Hind); /*--- Body Font --*/
@import url(https://fonts.googleapis.com/css?family=Nobile); /*--- Heading Font --*/
* {
margin: 0;
order: 0;
padding: 0; 

}
body {
    background-color: #fff;
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    position: relative;

}
h1 {
    font-family: 'Nobile', sans-serif;
    text-align: center;
    font-size: 175%;
    color: #817171;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 3% 0; 
    
}
h3 {
    font-family: 'Nobile', sans-serif;
    text-align: center;
    color: #4A4444;
    text-transform: uppercase;
    padding: 1%; 

}

p{
    padding: 2%;
    color: #4A4444;
    text-align: justify;

}
img {
    max-width: 100%;
    height: auto;
    
}
#banner-wrapper {
    max-width: 1288px;
    margin: 0 auto;

}


/*--hvor teksten står--*/

.one-half {
    width: 44%;
    float: left;
    margin: 2% 0 3% 4%;
    text-align: center;
     
}

.one-third {
    width: 28%;
    float: left;
    margin: 2% 0 3% 4%;
    text-align: ;

}

.left-col{
    width: 60%;
    float: left;
    margin: 4% 0 4% 4%;
   

}
.sidebar {
    width: 26%;
    float: right;
    margin: 4% 4%;



}
.clearfix {
    clear: both;
    align-content: center;

    
}
/*---storebilde--*/

.parallax-inner {
    padding-top: 50px;
    padding-bottom:  350px;
   color: rgb(255, 255, 255);

    
}
.parallax-1 {
    background: url(../bilder/nf.png) no-repeat;
    text-align: center;
}
.parallax-inner h3, .parallax-inner p  {
    color: #f1f1f1;

}
/*---end store bilde--*/
footer {
    background:  #C6006F;
    opacity: 0.9;
    width: 100%;
    margin-top: 5%;
    padding: 1% 0;
    overflow: auto;
      
}
footer p {
    color: #fff;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);
}

li {
    float: left;
}

li a {
    display: block;
    color: #534D4D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
  }